.title {
    text-align: center;
    margin: 1.38em 0;
    font-size: 2.25rem;
}


.container {
    padding: 1.5em;
}


.inner {
    max-width: 1280px;
    margin: 0 auto;
}


.grid {
    display: grid;
}

.bar {
    background-color: #F2F2F2;
    font-size: 1.125rem;
    padding: 1.11em 0;
    border-radius: 10px;
    
    display: grid;
    grid-template-columns: 2.5fr 1fr 1.5fr;
}

.bar span {
    text-align: center;
}


.product {
    margin: 2.25em 0 5em;
}


.product li {
    border: 2px solid #C4C4C4;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1.25em 0;
    position: relative;
}


.product li:not(:first-child) {
    margin-top: 0.625em;
}


.check {
    width: 6%;
    text-align: center;
    padding: 0 0.75em;
}


.img {
    width: 160px; height: 160px;
    border-radius: 10px;
}


.p-info {
    margin-left: 2.25em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 30%;
}


.p-info span {
    display: inline-block;
}


.store {
    color: #767676;
}


.name {
    font-size: 1.125rem;
    margin-top: 0.55em;
}


.b-price {
    margin-top: 0.625em;
    font-weight: bold;
}


.shopping {
    margin-top: 2.5em;
    color: #767676;
    font-size: 0.875rem;
}


.order {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding: 0 2rem;
}


.order span {
    color: #EB5757;
    font-size: 1.125rem;
    font-weight: bold;
}


.order input {
    padding: 0.625em 2.25em;
    margin-top: 1.625em;
    border: none;
    border-radius: 5px;
    background-color: #21BF48;
    color: #fff;
    cursor: pointer;
}


.countpanel {
    display: flex;
    flex-direction: row;
}


.p-count {
    font-size: 1.125rem;
    margin: 1.66em 0;
    line-height: 23px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 150px;
    border: 1px solid #767676;
    border-radius: 5px;
}


.p-count span {
    width: 48px;
    text-align: center;
}


.p-count input {
    cursor: pointer;
    background-color: inherit;
    width: 48px;
    height: 48px;
    font-size: 2rem;
    padding: 0;
}


.minus {
    border: none;
    border-right: 1px solid #767676;
    background: #fff url('../assets/icon-minus-line.svg') no-repeat center;
}


.plus {
    border: none;
    border-left: 1px solid #767676;
    background: #fff url('../assets/icon-plus-line.svg') no-repeat center;
}


.delete {
    width: 20px; height: 20px;
    position: absolute;
    top: 22px; right: 21px;
    background: #fff url('../assets/icon-delete.svg') no-repeat center;
    cursor: pointer;
    border: none;
}


.total {
    background-color: #F2F2F2;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 10px;
    padding: 2.625em 0;
}



.total span {
    display: block;
}


.total div {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.total > div {
    width: 25%;
}


.total .t-bold {
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 0.5em;
}


.total .t-bold::after {
    content: '원';
    font-size: 1rem;
    display: inline-block;
    margin-left: 0.125em;
}


.total .t-minus, .total .t-plus {
    width: 34px; height: 34px;
    border-radius: 50%;
}


.total .t-minus {
    background: #fff url('../assets/icon-minus-line.svg') no-repeat center;
}


.total .t-plus {
    background: #fff url('../assets/icon-plus-line.svg') no-repeat center;
}


.payment-price {
    font-size: 2.25rem;
    color: #EB5757;
}


.button {
    font-size: 1.5rem;
    display: block;
    padding: 0.83em 2.75em;
    color: #fff;
    background-color: #21BF48;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    margin: 1.66em auto 6.66em;
    cursor: pointer;
}


.empty {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 11.25em 0;
}

@media screen and (max-width: 1023px) {
    .title {
        font-size: 2rem;
    }


    .grid {
        font-size: 0.875rem;
    }


    .bar {
        font-size: 0.875rem;
    }


    .img {
        width: 120px; height: 120px;
    }


    .order span {
        font-size: 1rem;
    }

    
    .total {
        font-size: 0.875rem;
    }


    .p-count {
        font-size: 1rem;
        width: 112px;
    }


    .p-count input {
        font-size: 1rem;
        width: 36px;
        height: 36px;
    }


    .p-count span {
        width: 36px;
    }

    
    .button {
        font-size: 1.25rem;
    }
}

@media screen and (max-width: 767px) {
    .title {
        font-size: 1.75rem;
    }


    .grid {
        font-size: 0.75rem;
    }


    .bar {
        font-size: 0.75rem;
    }


    .img {
        width: 100px; height: 100px;
    }


    .order span {
        font-size: 0.875rem;
    }

    
    .total {
        font-size: 0.75rem;
    }

    
    .button {
        font-size: 1rem;
    }
}