.title {
    text-align: center;
    margin: 50px 0;
    font-size: 2.25rem;
}

.container {
    padding: 0 20em;
}

.bar {
    background-color: #F2F2F2;
    font-size: 1.125rem;
    display: flex;
    flex-direction: row;
    padding: 1.11em 0;
    border-radius: 10px;
}

.bar .info {
    margin-left: 20.22em;
}

.bar .count {
    margin-left: 21.05em;
}

.bar .price {
    margin-left: 13.22em;
}

.product {
    margin: 2.25em 0 5em;
}

.product li {
    border: 2px solid #C4C4C4;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1.25em 0;
    position: relative;
}

.product li:not(:first-child) {
    margin-top: 0.625em;
}

.product li label {
    margin-left: 2.2125em;
}

.img {
    width: 160px; height: 160px;
    margin-left: 2.5em;
    border-radius: 10px;
}

.p-info {
    margin-left: 2.25em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 420px;
}

.p-info span {
    display: inline-block;
}

.store {
    color: #767676;
}

.name {
    font-size: 1.125rem;
    margin-top: 0.55em;
}

.b-price {
    margin-top: 0.625em;
    font-weight: bold;
}

.shopping {
    margin-top: 2.5em;
    color: #767676;
    font-size: 0.875rem;
}

.order {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 9.25em;
}

.order span {
    color: #EB5757;
    font-size: 1.125rem;
    font-weight: bold;
}

.order input {
    padding: 0.625em 2.25em;
    margin-top: 1.625em;
    border: none;
    border-radius: 5px;
    background-color: #21BF48;
    color: #fff;
    cursor: pointer;
}

.p-count {
    font-size: 1.125rem;
    margin: 1.66em 0;
    line-height: 23px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 150px;
    border: 1px solid #767676;
    border-radius: 5px;
}

.p-count span {
    width: 48px;
    text-align: center;
}

.p-count input {
    cursor: pointer;
    background-color: inherit;
    width: 48px;
    height: 48px;
    font-size: 2rem;
    padding: 0;
}

.minus {
    border: none;
    border-right: 1px solid #767676;
    background: #fff url('../assets/icon-minus-line.svg') no-repeat center;
}

.plus {
    border: none;
    border-left: 1px solid #767676;
    background: #fff url('../assets/icon-plus-line.svg') no-repeat center;
}

.delete {
    width: 20px; height: 20px;
    position: absolute;
    top: 22px; right: 21px;
    background: #fff url('../assets/icon-delete.svg') no-repeat center;
    cursor: pointer;
    border: none;
}

.total {
    background-color: #F2F2F2;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 10px;
    padding: 2.625em 0;
}

.total span {
    display: block;
}

.total div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.total .t-price {
    margin-left: 7em;
}

.total .t-bold {
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 0.5em;
}

.total .t-bold::after {
    content: '원';
    font-size: 1rem;
    display: inline-block;
    margin-left: 0.125em;
}

.total .t-minus, .total .t-plus {
    width: 34px; height: 34px;
    border-radius: 50%;
    margin: 0 6.25em;
}

.total .t-minus {
    background: #fff url('../assets/icon-minus-line.svg') no-repeat center;
}

.total .t-plus {
    background: #fff url('../assets/icon-plus-line.svg') no-repeat center;
}

.payment-box {
    margin-left: 14.31em;
}

.payment-price {
    font-size: 2.25rem;
    color: #EB5757;
}

.button {
    font-size: 1.5rem;
    display: block;
    padding: 0.83em 2.75em;
    color: #fff;
    background-color: #21BF48;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    margin: 40px auto 160px;
    cursor: pointer;
}

.empty {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 11.25em 0;
}