.logo {
    margin: 6.25em 0 4.375em;
}


.container {
    border: 1px solid #C4C4C4;
    border-radius: 10px;
    border-top: none;
}

.input-box, .info-box {
    display: flex;
    flex-direction: column;
    padding: 2.25em 2.25em 0 2.25em;
    color: #767676;
}


.info-box {
    padding: 0 2.25em 2.25em 2.25em;
    margin-top: 3.125em;
}


.input-box label,
.info-box label {
    margin: 0.75em 0 0.625em 0;
}


.input-box input,
.info-box input {
    padding: 1.25em 1em;
    border: 1px solid #C4C4C4;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
}


.tab-box {
    width: 100%;
    display: flex;
}


.tab-box .tab{
    font-size: 1.125rem;
    flex: 1;
    background-color: #C4C4C4;
    border: 1px solid #C4C4C4;
    border-radius: 10px 10px 0 0;
    cursor: pointer;
    font-weight: 600;
    padding: 1.11em 0 1em;
    text-align: center;
}

.tab-box .check {
    background-color: #fff;
    border-width: 1px 1px 0 1px;
}

/* .tab-box input:checked + .seller, 
.tab-box input:checked + .buyer {
    background-color: #fff;
    border-width: 1px 1px 0 1px;
} */


.id-box {
    position: relative;
    margin-bottom: 1.5em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.id-box span {
    position: absolute;
    display: block;
    bottom: -28px; left: 0;
}


.box span {
    margin-top: 0.625em;
}


.valid {
    margin-left: 0.75em;
    padding: 1em 2em;
    border-radius: 5px;
    background-color: #21BF48;
    border: none;
    cursor: pointer;
    color: #fff;
    white-space: nowrap;
}


.input-box input:focus {
    outline: none;
}


.pw-input, .repw-input {
    background: #fff url('../assets/icon-check-off.svg') no-repeat 96% center;
}


.proper {
    background: #fff url('../assets/icon-check-on.svg') no-repeat 96% center;
}


.phone-box, 
.email-box {
    display: flex;
    flex-direction: row;
    align-items: center;
}


.phone-box {
    position: relative;
    margin-bottom: 1.75em;
}


.phone-box span {
    position: absolute;
    display: block;
    bottom: -28px; left: 0;
    color: red;
}


.phone-box input {
    text-align: center;
}


.phone-box input:nth-child(2), 
.email-box span {
    margin: 0 0.75em;
}


.dropdown {
    background: #fff url('../assets/icon-down-arrow.svg') no-repeat 90% center;
    cursor: pointer;
}


.dropdown ~ ul {
    position: absolute;
    bottom: -156px; left: 0;
    width: 32%; height: 150px;
    margin: 0; padding: 0;
    border: 1px solid #C4C4C4;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #fff;
    overflow-y: scroll;
}


.dropdown ~ ul li {
    text-align: center;
    list-style: none;
    padding: 0.625em 0;
}


.dropdown ~ ul li:hover {
    background-color: #C4C4C4;
    cursor: pointer;
}


.txt {
    display: flex;
    flex-direction: column;
    color: #767676;
    align-items: flex-start;
}


.txt div {
    width: 454px;
}


.check-box {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin: 2.125em 0;
}


.check-box .check {
    display: block;
    margin-right: 0.625em;
}


.check-box label:hover, .check-box input:hover {
    cursor: pointer;
}

.join, .join-valid {
    font-size: 1.125rem;
    padding: 1em 11.44em;
    margin-bottom: 6.11em;
    color: #fff;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    border: none;
}

.join {
    background-color: #C4C4C4;
}


.join-valid {
    background-color: #21BF48;
}


.buisness {
    display: inline-block;
    margin-top: 1em;
}

@media screen and (max-width: 767px) {
    label {
        font-size: 0.875rem;
    }


    .tab-box .buyer,
    .tab-box .seller {
        font-size: 0.875rem;
    }


    .input-box, .info-box {
        padding: 1.725em 1.725em 0 1.725em;
    }
    
    .info-box {
        padding: 0 1.725em 1.725em 1.725em;
        margin-top: 2.25em;
    }

    .valid {
        padding: 0.875em 1em; 
        font-size: 0.75rem;
    }

    .join, .join-valid {
        font-size: 1rem;
    }
}