input[name="member-select"] {
    display: none;
}


.logo {
    margin: 6.25em 0 4.375em;
}


.container {
    border: 1px solid #C4C4C4;
    border-radius: 10px;
    border-top: none;
}


.tab-box {
    width: 100%;
    display: flex;
}


.tab-box .buyer, 
.tab-box .seller {
    font-size: 1.125rem;
    flex: 1;
    background-color: #C4C4C4;
    border: 1px solid #C4C4C4;
    border-radius: 10px 10px 0 0;
    cursor: pointer;
    font-weight: 600;
    padding: 1.11em 0 1em;
    text-align: center;
}


.tab-box input:checked + .seller, 
.tab-box input:checked + .buyer {
    background-color: #fff;
    border-width: 1px 1px 0 1px;
}


.input-box {
    display: flex;
    flex-direction: column;
    padding: 2.25em 2.25em 0 2.25em;
    color: #767676;
}


.input-box input {
    width: 480px;
    padding: 1.5em 0;
    border: none;
    border-bottom: 1px solid #C4C4C4; 
}


.input-box input:focus {
    outline: none;
}


.input-box .id {
    margin-bottom: 0.375em;
}


.login {
    display: block;
    font-size: 1.125rem;
    font-weight: 700;
    color: #fff;
    background-color: #21BF48;
    border-radius: 5px;
    border: none;
    margin: 0 auto;
    width: 480px; height: 60px;
    margin-bottom: 2em;
    cursor: pointer;
}


.txt-box {
    margin-top: 1.875em;
}


.txt-box a {
    text-decoration: none;
    color: #333333;
}


.lnk::after {
    content: '|';
    margin: 0 0.875em;
}


.warning {
    margin: 0.625em 0 1.625em 0;
    color: #EB5757;
}

@media screen and (max-width: 767px) {
    .tab-box .buyer,
    .tab-box .seller {
        font-size: 0.875rem;
    }


    .input-box input {
        width: 320px;
    }


    .login {
        width: 320px;
        font-size: 0.875rem;
    }

    .txt-box {
        font-size: 0.875rem;
    }
}