.container {
    background-color: #F2F2F2;
    padding: 3.75em 0;
}

.inner {
    margin: 0 auto;
    max-width: 1280px;
}

.link-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1.875em;
}

.link-box span {
    cursor: pointer;
}

.link-box span:not(:last-child)::after {
    content: '|';
    margin: 0 0.875em;
}

.sns img {
    margin-left: 0.875em;
    cursor: pointer;
}

.info {
    display: flex;
    flex-direction: column;
    line-height: 24px;
    margin-top: 1.875em;
    color: #767676;
}

.info span:nth-child(3):after {
    content: '| 통신판매업';
    margin-left: 0.375em;
}

@media screen and (max-width: 1023px) {
    .container {
        font-size: 0.875rem;
        padding: 3rem 2rem;
    }

    .link-box {
        flex-wrap: wrap;
    }

    .sns img {
        margin: 0.75em 0.875em 0 0;
    }
}

@media screen and (max-width: 1023px) {
    .container {
        font-size: 0.75rem;
    }
}