.container {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.1);
}


.icon {
    width: 124px;
    height: 38px;
    margin-left: 320px;
}


.search {
    width: 400px;
    padding: 13px 0 13px 22px;
    margin-left: 30px;
    border: 2px solid #21BF48;
    border-radius: 50px;
    background: #fff url('../assets/search-img.png') no-repeat right 22px center / 28px;
}

.purchase {
    display: flex;
    flex-direction: row;
    margin-left: 472px;
}


.sale {
    display: flex;
    flex-direction: row;
    margin-left: 472px;
}


.icon-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 20px 20px 0;
    width: 60px; height: 50px;
}


.mypage {
    padding: 36px 0 0 0; margin: 0;
    font-size: 12px;
    color: #767676;
    line-height: 14px;
    background: #fff url('../assets/icon-user.svg') no-repeat center 0;
    cursor: pointer;
    border: none;
}


.cart {
    padding: 36px 0 0 0; margin: 0;
    font-size: 12px;
    color: #767676;
    line-height: 14px;
    background: #fff url('../assets/icon-shopping-cart.svg') no-repeat center 0;
    cursor: pointer;
    border: none;
}


.center-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 18px 0;
}


.btn-sale-center {
    width: 168px;
    height: 54px;
    color: #fff;
    border: none;
    background: #21BF48 url('../assets/icon-shopping-bag.svg') no-repeat 24px center / 29px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 18px;
    padding: 16px 20px 16px 60px;
    margin-left: 10px;
}


.dropdown-box {
    margin: 20px 20px 20px 0;
    position: relative;
}


.dropdown {
    z-index: 10;
    position: absolute;
    width: 130px;
    top: 50%; left: 50%;
    box-shadow: 0px 0px 5px #c4c4c4;
    border: 1px solid #c4c4c4;
    border-radius: 5px;
    transform: translate(-50%, 30%);
    padding: 0;
}


.dropdown li {
    list-style: none;
    color: #767676;
    padding: 10px 12px;
    margin: 10px;
    text-align: center;
}


.dropdown li:not(:first-child) {
    margin-top: 8px;
}


.dropdown li:hover {
    color: #000;
    cursor: pointer;
    outline: 1px solid #767676;
    border-radius: 5px;
}