.container {
    width: 100%;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.1);
}

.inner {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 3rem;
}


.icon {
    width: 124px;
    height: 38px;
    margin-right: 1.875em;
}


.search {
    width: 400px; height: 46px;
    padding: 0 4em 0 1.375em;
    border: 2px solid #21BF48;
    border-radius: 50px;
    background: #fff url('../assets/search-img.png') no-repeat right 22px center / 28px;
}


.purchase, .sale {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: auto;
}


.icon-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1.25em 1.25em 1.25em 0;
    width: 60px; height: 50px;
}

.mypage, .cart {
    padding: 3em 0 0 0; margin: 0;
    font-size: 0.75rem;
    color: #767676;
    line-height: 14px;
    cursor: pointer;
    border: none;
}


.mypage {
    background: #fff url('../assets/icon-user.svg') no-repeat center 0;
}


.cart {
    background: #fff url('../assets/icon-shopping-cart.svg') no-repeat center 0;
}


.center-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1.125em 0;
}


.btn-sale-center {
    width: 168px;
    height: 54px;
    color: #fff;
    border: none;
    background: #21BF48 url('../assets/icon-shopping-bag.svg') no-repeat 24px center / 29px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1.125rem;
    padding: 0.88em 1.11em 0.88em 3.33em;
    margin-left: 0.55em;
}


.dropdown-box {
    margin: 1.25em 1.25em 1.25em 0;
    position: relative;
}


.dropdown {
    z-index: 10;
    position: absolute;
    width: 130px;
    top: 50%; left: 50%;
    box-shadow: 0px 0px 5px #c4c4c4;
    border: 1px solid #c4c4c4;
    border-radius: 5px;
    transform: translate(-50%, 30%);
    padding: 0;
}


.dropdown li {
    list-style: none;
    color: #767676;
    padding: 0.625em 0.75em;
    margin: 0.625em;
    text-align: center;
}


.dropdown li:not(:first-child) {
    margin-top: 0.5em;
}


.dropdown li:hover {
    color: #000;
    cursor: pointer;
    outline: 1px solid #767676;
    border-radius: 5px;
}

@media screen and (max-width: 1023px) {
    .search {
        display: none;
    }

    .icon {
        width: 100px;
        height: 32px;
    }

    
    .icon-box, .dropdown-box {
        font-size: 0.875rem;
    }
    
    .mypage, .cart {
        font-size: 0.625rem;
        line-height: 20px;
    }

    .dropdown {
        font-size: 0.875rem;
    }
}

@media screen and (max-width: 767px) {
    .icon {
        width: 92px;
        height: 28px;
    }

    
    .icon-box, .dropdown-box {
        font-size: 0.75rem;
    }
    
    .mypage, .cart {
        font-size: 0.5rem;
        line-height: 28px;
    }

    .dropdown {
        font-size: 0.75rem;
    }
}