.title {
    text-align: center;
    margin: 1.38em 0;
    font-size: 2.25rem;
}


.container {
    padding: 0 2em;
}


.inner {
    max-width: 1280px;
    margin: 0 auto;
}


.grid {
    display: grid;
}


.bar {
    background-color: #F2F2F2;
    font-size: 1.125rem;
    padding: 1.11em 0;
    border-radius: 10px;
    
    display: grid;
    grid-template-columns: 2.75fr 1fr 1fr 1fr;
}


.bar span {
    text-align: center;
}


.item {
    margin-top: 1em;
    padding: 0.5em 0 1.125em 0.5em;
    border-bottom: 2px solid #C4C4C4;
    display: grid;
    grid-template-columns: 2.75fr 1fr 1fr 1fr;
}

.info {
    display: flex;
    flex-direction: row;
}


.item img {
    width: 104px; height: 104px;
    border-radius: 10px;
    display: inline-block;
}


.item-info {
    display: flex;
    flex-direction: column;
    margin-left: 2.25em;

}


.item-name {
    font-size: 1.125rem;
    margin: 0.33em 0 0.55em;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.item-quantity {
    color: #767676;
    font-size: 0.875em;
}


.shopping-fee {
    font-size: 1.125rem;
    color: #767676;
}


.item-price {
    font-size: 1.125rem;
    font-weight: bold;
}


.total-price {
    margin-top: 1.875em;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}


.total-price span:first-child {
    font-size: 1.125rem;
}


.total-price span:last-child {
    font-size: 1.5rem;
    font-weight: bold;
    color: #EB5757;
    margin-left: 0.41em;
}


.delivery-container {
    margin: 6em 0 0 0;
}


.delivery-container h3, .payment-container h3 {
    font-size: 1.5rem;
    margin: 0 0 0.75em 0;
}


.receiver {
    margin-top: 2.5em;
}


.receiver h4 {
    font-size: 1.125rem;
    margin-bottom: 0.44em;
}


.input-wrap, .phone-wrap, .delivery-wrap {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid #c4c4c4;
}


.input-wrap p, .phone-wrap p, .delivery-wrap p {
    width: 170px;
}


.input-wrap div, .phone-wrap div {
    width: 334px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.input-wrap div input, 
.phone-wrap div input, 
.post-wrap input, 
.message-wrap input {
    border: 1px solid #c4c4c4;
    height: 40px;
    padding: 0 0 0 0.5em;
    margin: 0.5em 0;
}


.input-wrap div input {
    width: 100%;
}


.phone-wrap div input {
    width: 80px;
}


.post-wrap, .message-wrap {
    width: 800px;
}


.post-wrap input {
    width: 170px;
    margin-right: 0.625em;
}


.post-wrap .post {
    background-color: #21BF48;
    color: #fff;
    border-radius: 5px;
    border: 1px solid #21BF48;
    cursor: pointer;
    padding: 0.625em 1.875em;
}


.post-wrap div {
    display: flex;
    flex-direction: column;
}


.post-wrap div input, .message-wrap input {
    width: 100%;
}


.post-wrap div input:first-child {
    margin: 0 0 0.5em 0;
}


.payment-container {
    margin: 4.375em 0 7.5em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.method {
    margin-right: 24px;
}


.method-wrap input, .method-wrap label {
    cursor: pointer;
}


.method-wrap input {
    margin: 1.125em 0.625em;
}


.method-wrap label {
    margin: 0 0.625em 0 0;
}


.final-pay-container article {
    border: 2px solid #21BF48;
    border-radius: 10px;
    padding-top: 2em;
}


.pay-wrap, .pay-price {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


.pay-wrap {
    margin: 0 1.875em 1em;
}


.pay-wrap span:last-child {
    font-size: 1.125rem;
    font-weight: bold;
}


.pay-wrap span:last-child::after {
    content: '원';
    color: #767676;
    font-size: 0.875rem;
    margin-left: 0.22em;
}


.pay-price {
    margin: 0 1.875em 1.5em;
    padding-top: 1.875em;
    border-top: 1px solid #c4c4c4;
}


.pay-price span:last-child {
    font-size: 1.5rem;
    font-weight: bold;
    color: #EB5757;
}


.area {
    background-color: #F2F2F2;
    padding: 1.875em;
}


.check-area {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}


.check-area input {
    margin-right: 0.625em;
}


.check-area input, .check-area label {
    cursor: pointer;
}


.pay {
    font-size: 1.5rem;
    padding: 0.83em 2.66em;
    color: #fff;
    background-color: #c4c4c4;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    margin: 1.25em auto 0;
    cursor: pointer;
    display: block;
}


.pay-check {
    background-color: #21BF48;
}


.check-area .check {
    display: block;
}

@media screen and (max-width: 1023px) {
    .container {
        font-size: 0.875rem;
    }


    .title {
        font-size: 2rem;
    }
    
    
    .bar {
        font-size: 1rem;
    }

    
    .item img {
        width: 98px; height: 98px;
    }
    
    
    .item-name {
        font-size: 1rem;
    }
    
    
    .item-quantity {
        font-size: 0.75em;
    }
    
    
    .shopping-fee {
        font-size: 1rem;
    }
    
    
    .item-price {
        font-size: 1rem;
    }
    
    
    .total-price span:first-child {
        font-size: 1rem;
    }
    
    
    .total-price span:last-child {
        font-size: 1.25rem;
    }
    
    
    .delivery-container h3, .payment-container h3 {
        font-size: 1.25rem;
    }
    
    
    .receiver h4 {
        font-size: 1rem;
    }
    
    
    .input-wrap div input, 
    .phone-wrap div input, 
    .post-wrap input, 
    .message-wrap input {
        height: 36px;
    }
    
    
    .pay-wrap span:last-child {
        font-size: 1rem;
    }
    
    
    .pay-wrap span:last-child::after {
        font-size: 0.75rem;
    }
    
    
    .pay-price span:last-child {
        font-size: 1.25rem;
    }

    
    .pay {
        font-size: 1.25rem;
    }
}


@media screen and (max-width: 767px) {
    .container {
        font-size: 0.75rem;
    }


    .title {
        font-size: 1.875rem;
    }
    
    
    .bar {
        font-size: 0.875rem;
    }

    
    .item img {
        width: 92px; height: 92px;
    }
    
    
    .item-name {
        font-size: 0.875rem;
    }
    
    
    .item-quantity {
        font-size: 0.5em;
    }
    
    
    .shopping-fee {
        font-size: 0.875rem;
    }
    
    
    .item-price {
        font-size: 0.875rem;
    }
    
    
    .total-price span:first-child {
        font-size: 0.875rem;
    }
    
    
    .total-price span:last-child {
        font-size: 1rem;
    }
    
    
    .delivery-container h3, .payment-container h3 {
        font-size: 1rem;
    }
    
    
    .receiver h4 {
        font-size: 0.875rem;
    }
    
    
    .input-wrap div input, 
    .phone-wrap div input, 
    .post-wrap input, 
    .message-wrap input {
        height: 32px;
    }

    .post {
        margin-bottom: 0.5em;
    }

    
    .pay-wrap span:last-child {
        font-size: 0.875rem;
    }
    
    
    .pay-wrap span:last-child::after {
        font-size: 0.5rem;
    }
    
    
    .pay-price span:last-child {
        font-size: 1rem;
    }

    
    .pay {
        font-size: 1rem;
    }
    
    .payment-container {
        flex-direction: column;
    }

    .method {
        margin-bottom: 2em;
    }
}